<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode  }}" dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}

  {{ if or ( .HasShortcode "audio" ) ( .HasShortcode "video" )  ( .HasShortcode "archive-audio" ) }}
  
  {{/* Load audio fallback handler */}}
  {{ $plyr := resources.Get "plyr3.8.3.polyfilled.js" | resources.Minify }}
  <script src="{{ $plyr.RelPermalink }}" defer></script>

  {{ $plyrCss := resources.Get "plyr3.8.3.css" | resources.Minify }}
  <link rel="stylesheet" href="{{ $plyrCss.RelPermalink }}" />
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const players = Array.from(document.querySelectorAll('.player')).map(
          p => new Plyr(p, {
              controls: ['play', 'progress', 'current-time', 'mute', 'volume', 'settings'],
              settings: ['speed'],
              autoplay: false,
              tooltips: { controls: true, seek: true },
              i18n: {
                restart: '重播', rewind: '倒帶 {seektime} 秒',
                fastForward: '快轉 {seektime} 秒',
                play: '播放', pause: '暫停',
                seek: '尋找',
                played: '已播放',
                buffered: '緩衝',
                currentTime: '目前時間', duration: '總共時間',
                volume: '音量', mute: '靜音', unmute: '取消靜音',
                captions: '內嵌字幕',
                enableCaptions: '開啟內嵌字幕', disableCaptions: '關閉內嵌字幕',
                enterFullscreen: '全螢幕', exitFullscreen: '退出全螢幕',
                frameTitle: '{title} 播放器',
                settings: '設定',
                speed: '倍速', normal: '正常',
                quality: '畫質',
                loop: '循還播放',
                start: '開始', end: '結束',
                all: '全部',
                reset: '重置',
                disabled: '關閉',
                advertisement: '廣告',
              }
          })
      );
      
      // Stop other players when starting
      players.forEach(function(p, index){
          p.on('play', event => {
              const instance = event.detail.plyr;
              console.log('Stop others players');
              players.forEach(function(p){ if(p != instance) p.stop()});
          });
          
          // when the audio file ends, automatically play the next audio file
          p.on('ended', event => {
              const currentIndex = index;
              const nextIndex = currentIndex + 1;
              
              // if there is another audio file, play it
              if (nextIndex < players.length) {
                  console.log(`播放完第 ${currentIndex + 1} 個音檔，開始播放第 ${nextIndex + 1} 個音檔`);
                  players[nextIndex].play();
              } else {
                  console.log('所有音檔播放完畢');
              }
          });
      });
    });
  </script>
  
  {{ end }}
</head>
<body dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <main class="container flex">
    <aside class="book-menu">
      <div class="book-menu-content">
        {{ template "menu" . }} <!-- Left menu Content -->
      </div>
    </aside>

    <div class="book-page">
      <header class="book-header">
        {{ template "header" . }} <!-- Mobile layout header -->
      </header>

      {{ partial "docs/inject/content-before" . }}
      {{ template "main" . }} <!-- Page Content -->
      {{ partial "docs/inject/content-after" . }}

      <footer class="book-footer">
        {{ template "footer" . }} <!-- Footer under page content -->
        {{ partial "docs/inject/footer" . }}
      </footer>

      {{ template "comments" . }} <!-- Comments block -->

      <label for="menu-control" class="hidden book-menu-overlay"></label>
      <label for="toc-control" class="hidden book-toc-overlay"></label>
    </div>

    {{ if partial "docs/toc-show" . }}
    <aside class="book-toc">
      <div class="book-toc-content">
        {{ template "toc" . }} <!-- Table of Contents -->
      </div>
    </aside>
    {{ end }}
  </main>

  {{ partial "docs/inject/body" . }}
</body>
</html>

{{ define "menu" }}
  {{ partial "docs/menu" . }}
{{ end }}

{{ define "header" }}
  {{ partial "docs/header" . }}

  {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
  <aside class="hidden clearfix">
    {{ template "toc" . }}
  </aside>
  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "docs/footer" . }}
{{ end }}

{{ define "comments" }}
  {{ if and .Content (default true (default .Site.Params.BookComments .Params.BookComments)) }}
  <div class="book-comments">
    {{- partial "docs/comments" . -}}
  </div>
  {{ end }}
{{ end }}

{{ define "main" }}
  <article class="markdown book-article">
    {{- .Content -}}
  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
