<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode  }}" dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}

  {{ if or ( .HasShortcode "audio" ) ( .HasShortcode "video" )  ( .HasShortcode "archive-audio" ) }}
  
  {{/* Load audio fallback handler */}}
  {{ $plyr := resources.Get "plyr3.8.3.polyfilled.js" | resources.Minify }}
  <script src="{{ $plyr.RelPermalink }}" defer></script>

  {{ $plyrCss := resources.Get "plyr3.8.3.css" | resources.Minify }}
  <link rel="stylesheet" href="{{ $plyrCss.RelPermalink }}" />
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const players = Array.from(document.querySelectorAll('.player')).map(
          p => new Plyr(p, {
              controls: ['play', 'progress', 'current-time', 'mute', 'volume', 'settings'],
              settings: ['speed'],
              tooltips: { controls: true, seek: true },
          })
      );
      // Stop other players when starting
      players.forEach(function(p){
          p.on('play', event => {
              const instance = event.detail.plyr;
              console.log('Stop others players');
              players.forEach(function(p){ if(p != instance) p.stop()});
          })
      });
    });
  </script>
  
  {{ end }}
</head>
<body dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <main class="container flex">
    <aside class="book-menu">
      <div class="book-menu-content">
        {{ template "menu" . }} <!-- Left menu Content -->
      </div>
    </aside>

    <div class="book-page">
      <header class="book-header">
        {{ template "header" . }} <!-- Mobile layout header -->
      </header>

      {{ partial "docs/inject/content-before" . }}
      {{ template "main" . }} <!-- Page Content -->
      {{ partial "docs/inject/content-after" . }}

      <footer class="book-footer">
        {{ template "footer" . }} <!-- Footer under page content -->
        {{ partial "docs/inject/footer" . }}
      </footer>

      {{ template "comments" . }} <!-- Comments block -->

      <label for="menu-control" class="hidden book-menu-overlay"></label>
      <label for="toc-control" class="hidden book-toc-overlay"></label>
    </div>

    {{ if partial "docs/toc-show" . }}
    <aside class="book-toc">
      <div class="book-toc-content">
        {{ template "toc" . }} <!-- Table of Contents -->
      </div>
    </aside>
    {{ end }}
  </main>

  {{ partial "docs/inject/body" . }}
</body>
</html>

{{ define "menu" }}
  {{ partial "docs/menu" . }}
{{ end }}

{{ define "header" }}
  {{ partial "docs/header" . }}

  {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
  <aside class="hidden clearfix">
    {{ template "toc" . }}
  </aside>
  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "docs/footer" . }}
{{ end }}

{{ define "comments" }}
  {{ if and .Content (default true (default .Site.Params.BookComments .Params.BookComments)) }}
  <div class="book-comments">
    {{- partial "docs/comments" . -}}
  </div>
  {{ end }}
{{ end }}

{{ define "main" }}
  <article class="markdown book-article">
    {{- .Content -}}
  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
