<figure class="text-center audio-container" {{ with .Get "class" }}class="{{ . }}"{{ end }}>
  <audio 
    controls 
    preload="{{ .Get "preload" | default "metadata" }}"
    crossorigin="anonymous"
  >
    {{ with .Get "src" }}
      {{ $audioURL := . | relURL }}
      <source src="{{ $audioURL }}" type="audio/mp4">
      <source src="{{ $audioURL }}" type="audio/mpeg">
      <source src="{{ $audioURL }}" type="audio/m4a">
    {{ end }}
    瀏覽器不支援音檔播放。
  </audio>
{{ with .Get "caption" }}<figcaption>{{ . }}</figcaption>{{ end }}
</figure>

{{/*  {{< audios src="/overview.wav" caption="caption">}}  */}}